<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<html lang="en" dir="ltr">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <nav>
      <div class="container-fluid">
        <img src="././assets/Logo.png" class="navbar-brand navbarTitle" routerLink="/dashboard">  
      </div>
      <a class="brand" style="font-size: x-large;">E.M.E.S. Barbershop</a>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/sales">Sales</a></li>
        <li><a class="active" routerLink="/barbers">Barbers</a></li>
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/schedules">Schedules</a></li>
        <li><a routerLink="/audits">Audits</a></li>
        <!-- <li><a routerLink="/pos">Pos</a></li> -->
    
<br>
      <li><a (click)="updateAudits()" ><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
    </nav>
    
<section>
 <br>
    <div class="home-content">
            <div class="barber-boxes">
              <div class="recent-barber box">
                <div class="title">Barbers Information
                  <button (click)="clear()" class="btn waves-effect waves-dark green modal-trigger" data-target="modal1"><i class="fas fa-plus"></i></button>
                  
   <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add Barber</h4>
      <div class="card-content">
       <div class="row">
           <form class="col s12">
             <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input disabled name="bbidNg" [(ngModel)]="bbidNg" id="icon_fname" type="text" class="validate">
                <label class="active" for="icon_uname">ID</label>
              </div>
               <div class="input-field col s6">
                 <i class="material-icons prefix">person</i>
                 <input name="usernameNg" [(ngModel)]="usernameNg" id="icon_fname" type="text" class="validate">
                 <label class="active" for="icon_uname">Username</label>
               </div>
               <div class="input-field col s6">
                 <i class="material-icons prefix">lock</i>
                 <input name="passwordNg" [(ngModel)]="passwordNg" id="icon_lname" type="password" class="validate">
                 <label class="active" for="icon_pword">Password</label>
               </div>
               <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input name="firstnameNg" [(ngModel)]="firstnameNg" id="icon_fname" type="text" class="validate">
                <label class="active" for="icon_fname">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input name="lastnameNg" [(ngModel)]="lastnameNg" id="icon_lname" type="text" class="validate">
                <label class="active" for="icon_lname">Last Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input name="emailNg" [(ngModel)]="emailNg" id="icon_mail" type="text" class="validate">
                <label class="active" for="icon_mail">Email Address</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input name="contactnoNg" [(ngModel)]="contactnoNg" id="icon_contact" type="text" class="validate">
                <label class="active" for="icon_mail">Contact Number</label>
              </div>
              
              
             </div>
           </form>
         </div>
       <div class="form-field">
        
         <button *ngIf="updateTrue==false" (click)="signupbarbers()" class="btn waves-effect waves-dark blue">Add</button>
         &nbsp;
         <button *ngIf="updateTrue" (click)="updateBarbers()" class="btn waves-effect waves-dark green">Update</button>
         <button (click)="clear()" class="btn waves-effect waves-dark red modal-close">Cancel</button>
       </div><br>
   </div>
    </div>
  </div>

  <div class="row"></div>  
  <mat-form-field appearance="standard">
    <mat-label><i class="material-icons">search</i> Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Barber" #input>
  </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="Barber ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.barbers_id}} </td>
      </ng-container>

      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef > Username </th>
        <td mat-cell *matCellDef="let element">  {{element.barbers_username}} </td>
      </ng-container>
      
      <ng-container matColumnDef="First Name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.barbers_fname}} </td>
      </ng-container>

      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef > Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.barbers_lname}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.barbers_email}} </td>
      </ng-container>

      <ng-container matColumnDef="Contact No">
        <th mat-header-cell *matHeaderCellDef> Contact No </th>
        <td mat-cell *matCellDef="let element"> {{element.barbers_contactno}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <button (click)="fillModal(element.barbers_id, element.barbers_username, '',element.barbers_fname, element.barbers_lname, element.barbers_email, element.barbers_contactno)" class="btn waves-effect waves-dark blue modal-trigger" data-target="modal1"><i class="fas fa-edit"></i></button>
          &nbsp;
          &nbsp;
          <button (click)="deleteBarbers(element.barbers_id)" class="btn waves-effect waves-dark red"><i class="far fa-trash-alt"></i></button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator> 
                  
                
                </div>
                <!-- <div class="button">
                  <a routerLink="/">See All</a>
                </div> -->
              </div>
            </div>
    </div>
    
  </section>

    <!-- <div class="content">
      <div>Responsive Navigation Menu Bar Design</div>
      <div>using only HTML & CSS</div>
    </div> -->

