<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<html lang="en" dir="ltr">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <nav>
      <div class="container-fluid">
        <img src="/assets/Logo.png" class="navbar-brand navbarTitle" routerLink="/dashboard">  
      </div>
      <a class="brand" style="font-size: x-large;">E.M.E.S. Barbershop</a>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/sales">Sales</a></li>
        <li><a routerLink="/barbers">Barbers</a></li>
        <li><a class="active" routerLink="/users">Users</a></li>
        <li><a routerLink="/schedules">Schedules</a></li>
        <!-- <li><a routerLink="/pos">Pos</a></li> -->
    
<br>
        <li><a routerLink="/"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
    </nav>
    
<section>
 <br>
    <div class="home-content">
     

      <div class="user-boxes">
        <div class="recent-user box">
          
          <div class="title">Users Information
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </div>
          <div class="row"></div>
          <div class="user-details">
            <ul class="details">
              <li class="topic">ID</li>
              <li><a>1</a></li>
             
           
            </ul>
            <ul class="details">
            <li class="topic">Username</li>
            <li><a>JP Cruz</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Password</li>
            <li><a>******</a></li>
           
           
          </ul>
          <ul class="details">
            <li class="topic">Contact #</li>
            <li><a>09123456789</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Email</li>
            <li><a>customer@gmail.com</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">House #</li>
            <li><a>123</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Street</li>
            <li><a>Begonia</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Barangay</li>
            <li><a>Sta. Rita</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">City</li>
            <li><a>Olongapo</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">First Name</li>
            <li><a>Jampol</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Last Name</li>
            <li><a>Cruz</a></li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Actions</li>
           
            <div class="col s6 push-5">
            <button class="btn waves-effect waves-dark blue"><i class="fas fa-edit"></i></button>
            &nbsp;
            <button class="btn waves-effect waves-dark red"><i class="far fa-trash-alt"></i></button>
             </div>
            
            
          </ul>
          </div>
          <!-- <div class="button">
            <a routerLink="/">See All</a>
          </div> -->
        </div>
      </div>
    </div>
  </section>

    <!-- <div class="content">
      <div>Responsive Navigation Menu Bar Design</div>
      <div>using only HTML & CSS</div>
    </div> -->

