.nav-wrapper{
  color: black
}
.barber1{
 color: black;
}
.customer1{
  color: black;
 }
.card-customers-count{
  margin-top: -700px;

  margin-left: 700px;
}
.card-barbers-count{
  margin-top: -700px;

  margin-left: 700px;
}
.card-profit-count{
  margin-top: -700px;

  margin-left: 700px;
}