<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<html lang="en" dir="ltr">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav>
     
      <div class="container-fluid">
        <img src="././assets/Logo.png" class="navbar-brand navbarTitle" routerLink="/dashboard">  
        
      </div>
      
      <a class="brand" style="font-size: x-large;">E.M.E.S. Barbershop</a>

      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>

      
     
      
      
      <ul >
        <li><a class="active" routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/sales">Sales</a></li>
        <ng-container *ngIf="adminID==1">
        <li><a routerLink="/barbers">Barbers</a></li>
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/schedules">Schedules</a></li>
        <li><a routerLink="/audits">Audits</a></li>
        <li><a routerLink="/services">Services</a></li>
        </ng-container>
        
        
      
<br>
      <li><a (click)="updateAudits()" ><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
    </nav>
    
<section id="hide">
  
 <br>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Money</div>
            <div class="number">₱{{totalMoney}}</div>
          </div>
         <!-- <div class="icon"><i class="medium material-icons">attach_money</i></div> -->
         <img class="logo2" src="././assets/ppeso.png">
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">{{totalSales}}</div>
          </div>
          <!-- <div class="icon"><i class="medium material-icons">monetization_on</i></div> -->
          <img class="logo2" src="././assets/peso.png">
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Barber</div>
            <div class="number">{{totalBarber}}</div>
          </div>
          <!-- <div class="icon"><i class="medium material-icons">content_cut</i></div> -->
          <img class="logo2" src="././assets/barber.png">
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Schedules</div>
            <div class="number">{{totalSchedules}}</div>
          </div>
          <!-- <div class="icon"><i class="medium material-icons">format_list_numbered</i></div> -->
          <img class="logo2" src="././assets/schedule.png">
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Sales
             </div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Date</li>
              <li *ngFor="let data of a">{{data.pos_createdAt}}</li>
              
           
            </ul>
            <ul class="details">
            <li class="topic">Barber</li>
            <li *ngFor="let data of a">{{data.barbers_fname}} {{data.barbers_lname}}</li>
           
            
          </ul>
          <ul class="details">
            <li class="topic">Payment</li>
            <li *ngFor="let data of a">₱{{data.pos_payment}}</li>
           
           
          </ul>
          </div>
          <!-- <div class="button">
            <a routerLink="/">See All</a>
          </div> -->
        </div>
<!-- -------report------------ -->

        <div class="attendance box">
        <div class="title">EMES Sales Report
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select (change)="testing()" [(ngModel)]="dateid">
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
              </select>
              <label class="srDate">Sales Report Date</label>
            </div>
      
     
            <div class="input-field col s6">
              <select (change)="testing()" id="barbersoption"  [(ngModel)]="barbersid" class="input-field">
                <option *ngFor="let data of c" value="{{data.barbers_id}}">{{data.barbers_fname}} {{data.barbers_lname}}</option>
              </select>
              <label class="srBarber">Select a Barber</label>
            </div>
          </div>
          <div class="number1">₱{{totalMoneyFiltered}}</div>
          <!-- <ul class="barber-attendance">
            
            <li>
            <a routerLink="/">
              <span class="barber">Bernie Inociete</span>
            </a>
            <span class="mark">Present</span>
          </li>
          <li>
            <a routerLink="/">
              <span class="barber">Bernie Inociete</span>
            </a>
            <span class="mark">Present</span>
          </li>
          <li>
            <a routerLink="/">
              <span class="barber">Bernie Inociete</span>
            </a>
            <span class="mark">Absent</span>
          </li>
          </ul> -->
        </div>
     
  <!-- ---------report----------------------       -->
      </div>
      
    </div>

    
  </section>

 <div class="row"></div>
<div a class="row">
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <table>
            <thead>
              <tr>
                  <th>Barber Name</th>
                  <th>Service</th>
                  <th>Price</th>
                  <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of j">
                <td>{{data.barbers_fname}} {{data.barbers_lname}}</td>
                <td>{{data.services_name}}</td>
                <td>₱{{data.pos_payment}}</td>
                <td>{{data.pos_createdAt}}</td>
              </tr>
              <tr>
                <td> </td>
                <td> </td>
                <td>Total: ₱{{moneymoney}} </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        <div class="card-action">
          <p>Authorized By: {{authorizedBy}}</p>
          <br>

          <a id="hide2" (click)="weekly()">Generate Weekly Report</a><br>
          <a id="hide3" (click)="monthly()">Generate Monthly Report</a><br>
          <a id="hide4" (click)="yearly()">Generate Yearly Report</a><br>
          
        </div>
      </div>
    </div>
  </div>
</div>  
    <!-- <div class="content">
      <div>Responsive Navigation Menu Bar Design</div>
      <div>using only HTML & CSS</div>
    </div> -->
